<header class="header">
  <nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div>
  
      <a routerLink="" class="navbar-brand">
      <img src = "assets/image/Sierra.png" height ="50" width="120"></a>
    </div>

    <span class="form-inline">
      <input class="form-control" type="search" name="searchKeyword" [(ngModel)]="searchKeyword" 
      placeholder="Search for courses" aria-label="Search">&nbsp;
      <button (click)=handleSearch() class="btn btn-outline-primary" type="submit">Search</button>
    </span>
    <span class="navbar navbar-collapse justify-content-middle" height ="10%" width="10%" >
    <h3><a *ngIf="loguser.isUserLoggedIn()" routerLink="/cart">My Bucket</a></h3>
    </span>
    <span class="navbar navbar-collapse justify-content-end" height ="10%" width="10%" >
      
      <h3 *ngIf="loguser.isUserLoggedIn()" class="text-light">{{name}}</h3> &nbsp;
      <h3><a *ngIf="!loguser.isUserLoggedIn()" routerLink="/login">Login</a></h3>
      <h3><a *ngIf="loguser.isUserLoggedIn()" routerLink="/logout" class="">Logout</a></h3>
    </span>
  </nav>
</header>